@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.org-details {
    background: #fff;
    border-radius: 4px;
    margin: 10px ;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.10);
    cursor: pointer;
    min-width: 300px;
  }
  .orgss::-webkit-scrollbar {
    display: none;
  }
  .org-details:hover{
    transform: scale(1.01);
  }
  .org-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: black;
  }
  .org-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .org-details span {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    /* background: #f1f1f1; */
    padding: 6px;
    border-radius: 50%;
    color: #333;
  }
  .invite-details {
    background: #fff;
    border-radius: 4px;
    margin: 10px ;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.10);
    cursor: pointer;
    min-width: 300px;
  }
  .invite-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: black;
  }
  .invite-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  .invite-details button {
    font-size: 1.0em;
    border-radius: 4px;
    border: none;
  }
  .invite-details button:hover {
    font-size: 0.95rem;
  }
   
  .navbar a:hover {
    color: blue;
  }
  